#edit-features-page {
    padding: 10px;
    min-height: 90vh;
}

#edit-features-page .features-container {
    background-color: #735840;
}

#edit-features-page .title-bar {
    background-color: rgba(1, 1, 1, 0.73);
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 36px;
    border-top: 10px solid #2F2114;
    border-left: 10px solid #2F2114;
    border-right: 10px solid #2F2114;
    height: 5vh;
}

#edit-features-page .title-bar .title-text {
    position: relative;
    top: -5px;
}

#edit-features-page .features-inner {
    border-left: 10px solid #AC7849;
    border-right: 10px solid #AC7849;
    border-bottom: 10px solid #AC7849;
    padding: 100px;
}

#edit-features-page .features-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-features-page .features-selection select {
    z-index: 2;
    border: 3px solid #000;
    background-color: transparent;
    width: 220px;
    font-size: 32px;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
}

#edit-features-page .features-selection select option {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
    color: #000;
}

#edit-features-page .features-selection img {
    position: relative;
    top: -125px;
    margin-bottom: -125px;
    z-index: 1;
}