#login-page {
  height: 100vh;
  width: 100%;
  background-color: #FFDE87;
  font-family: 'Indie Flower', cursive;
}
#login-page .scrapbook, #login-page .login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-page .login-title {
  color: #FDB8A3;
}

#login-page .logo {
  height: 20vh;
}

#login-page .login-error {
  color: #B80404;
  font-size: 24px;
}

#login-page form * {
  margin: 10px 0;
}

#login-page input {
  color: #7E7E7C;
}

#login-page .login-button {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-5%, -25%);
  background-color: #6A6B6B;
  padding: 25px 30px;
  border-radius: 75%;
  border: none;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  color: #FDB8A3;
}

#login-page .login-button:hover {
  background-color: #7E7E7C;
}

#login-page .create-an-account {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(50%, 100%);
  text-decoration: none;
  color: #B80404;
}