#signup-page {
  height: 100vh;
  background-color: #FDB8A3;
}

#signup-page .inner-signup {
  background-color: #383838;
  width: 100%;
  height: 70vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#signup-page .logo {
  height: 300px;
  width: 300px;
  position: absolute;
  left: -100px;
  top: -50px;
}

#signup-page .blob, #signup-page form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#signup-page .input-group {
  margin: 10px 0;
}

#signup-page .error-message {
  width: 150%;
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
  color: #B80404;
}

#signup-page .signup-button {
  position: absolute;
  right: -50px;
  bottom: 0;
  background-color: #6A6B6B;
  padding: 25px 30px;
  border-radius: 75%;
  border: none;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
  font-size: 42px;
  color: #FFDE87;
  transform: rotateZ(-10deg);
}

#signup-page .signup-button:hover {
  background-color: #7E7E7C;
}

#signup-page form input {
  margin: 10px 0;
}