#order-character {
  width: 100%;
  background-color: #FFDE87;
}

#order-character .title-bar {
  background-color: rgba(1, 1, 1, 0.73);
  color: #FFF;
  font-family: 'Indie Flower', cursive;
  font-size: 36px;
  border-top: 10px solid #2F2114;
  border-left: 10px solid #2F2114;
  border-right: 10px solid #2F2114;
}

#order-character .container {
  background-color: #735840;
  flex-grow: 100;
}

#order-character .title-bar .title-text {
  position: relative;
  top: -5px;
  text-transform: uppercase;
  color: #FFECBB;
}

#order-character .container-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 10px solid #AC7849;
  border-right: 10px solid #AC7849;
  border-bottom: 10px solid #AC7849;
  min-height: 70vh;
  max-height: 55vh;
  padding: 10px;
}

#order-character .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#order-character .left-form {
  flex: 1;
}

#order-character .right-form {
  flex: 1;
  text-align: left;
  margin-left: 50px;
}

#order-character .right-form p {
  font-family: 'Indie Flower', cursive;
  color: #FFF;
  font-size: 20px;
  margin: 10px;
}

#order-character .right-form textarea {
  font-family: 'Indie Flower', cursive;
  border-radius: 25px;
  border: 5px solid #B0B0B0;
  font-size: 18px;
  padding: 5px;
  width: 450px;
  height: 400px;
}

#order-character .buttons button {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  background-color: #735840;
  color: #FFF;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

#order-character .buttons .back-button span {
  background: url('../../../images/icons/Back.png') no-repeat left center;
  float: left;
  width: 30px;
  height: 30px;
}

#order-character .buttons .order-button span {
  background: url('../../../images/icons/Buy.png') no-repeat left center;
  float: left;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  #order-character {
    padding: 5vh;
  }

  #order-character .container {
    display: block;
  }

  #order-character .container-inner {
    min-height: 60vh;
    padding: 30px 50px;
  }

  #order-character .buttons button {
    font-size: 24px;
    padding: 10px;
    margin-top: 20px;
  }
}