#public-navbar {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

#public-navbar a {
  font-family: 'Indie Flower', cursive;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 20px;
  cursor: pointer;
}

#public-navbar .active {
  background-color: #C4C4C4;
  border-radius: 30px;
}